.add-employee-form{
display: flex;
justify-content: center;
padding: 2rem 0;
}


.form-control input{
padding: 0.3rem;
background: transparent;
border: none;
border-bottom: 2px solid #37f50c;
font: inherit;
color: rgb(242, 242, 245);
outline: none;
}

.form-btn{
margin: 1rem;
background: transparent;
border: none;
font:inherit;
color: white;
}